*~
*.pyc
*.root

build.*.log
Makefile
NMake
install.*.history
setup.*
cleanup.*
version.cmt
genConf/
QMTest/
InstallArea/
patches/
test_results/

*-slc[56]-*/
i686-winxp-vc9-dbg/

.*-slc[56]-*.d/
.i686-winxp-vc9-dbg.d/

DoxyWarnings.log
.gdb_history
*.new
*.launch
*.launch.py
*.launch.opts

.DS_Store
._*

# various project files
.project
.cproject
.settings
.pydevproject
.vscode

.build/
build-dir/
build.*/
.eclipse/
CMakeFiles/
CTestTestfile.cmake
CPackSourceConfig.cmake
CPackConfig.cmake
cmake_install.cmake
