<header>
   <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <div class="container">
          <a class="navbar-brand"
             href="{{ site.baseurl | prepend: site.url }}/index.html">
            <img src="https://fcc.web.cern.ch/sites/default/themes/fcc/img/fcc_logo_light.png"
                 alt=""
                 height=40>
          </a>
          <button type="button"
                  class="navbar-toggler"
                  data-bs-toggle="collapse"
                  data-bs-target="#main-header"
                  aria-label="Toggle navigation"
                  aria-expanded="false"
                  aria-controls="main-header">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="main-header">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link{% if page.layout == 'title' %} active{% endif %}" href="{{ site.baseurl | prepend: site.url }}/index.html">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="https://hep-fcc.github.io/fcc-tutorials/">Tutorials</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link{% if page.id == 'presentations' %} active{% endif %}" href="{{ site.baseurl | prepend: site.url }}/presentations/presentations.html">Talks and Papers</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link{% if page.id == 'computing' %} active{%endif%}" href="{{ site.baseurl | prepend: site.url }}/computing/computing.html">Computing</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link"
                         href="https://fccsw.web.cern.ch/fccsw/phoenix">Event Display</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link{% if page.id == 'contacts' %} active{%endif%}"
                         href="{{ site.baseurl | prepend: site.url }}/contacts/">Contacts</a>
                  </li>
<!---
                  <li class="nav-item">
                    <a class="nav-link{% if page.id == 'opportunities' %} active{%endif%}" href="{{ site.baseurl | prepend: site.url }}/opportunities/opportunities.html">Opportunities</a>
                </li>
--->
              </ul>
          </div>
      </div>
    </nav>
</header>
