<header>
    <nav class="navbar navbar-expand-xxl sticky-top navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand"
               href="{{ '' | relative_url }}/">
              <img src="{{ '/assets/img/fcc_logo_light.png' | relative_url }}"
                   alt="FCC Software"
                   height=40>
            </a>
            <button type="button"
                    class="navbar-toggler"
                    data-bs-toggle="collapse"
                    data-bs-target="#main-header"
                    aria-label="Toggle navigation"
                    aria-expanded="false"
                    aria-controls="main-header">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="main-header">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link{% if page.layout == 'title' %} active{% endif %}"
                           href="{{ '' | relative_url }}/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="https://hep-fcc.github.io/fcc-tutorials/"
                           target="_blank">Tutorials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if page.id == 'documents' %} active{% endif %}"
                           href="{{ '/documents' | relative_url }}">Documents</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if page.id == 'computing' %} active{% endif %}"
                           href="{{ '/computing' | relative_url }}">Computing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="https://hep-fcc.github.io/fcc-tutorials/main/fast-sim-and-analysis/k4simdelphes/doc/starterkit/FccFastSimDelphes/Readme.html"
                           target="_blank">Fast Sim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="https://fcc-ee-detector-full-sim.docs.cern.ch/"
                           target="_blank">Full Sim and Reco</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="https://hep-fcc.github.io/FCCAnalyses/"
                           target="_blank">Analysis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="https://fcc-physics-events.web.cern.ch/"
                           target="_blank">Physics Events DB</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="https://fccsw.web.cern.ch/fccsw/phoenix"
                           target="_blank">Event Display</a>
                    </li>
                </ul>
                <ul class="navbar-nav mb-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link{% if page.id == 'contacts' %} active{% endif %}"
                           href="{{ '/contacts' | relative_url }}">Contacts</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
