<header>
   <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <div class="container">
          <a class="navbar-brand"
             href="{{ site.baseurl | prepend: site.url }}/index.html">
            <img src="https://fcc.web.cern.ch/sites/default/themes/fcc/img/fcc_logo_light.png"
                 alt=""
                 height=40>
          </a>
          <button type="button"
                  class="navbar-toggler"
                  data-bs-toggle="collapse"
                  data-bs-target="#main-header"
                  aria-label="Toggle navigation"
                  aria-expanded="false"
                  aria-controls="main-header">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="main-header">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link{% if page.layout == 'title' %} active{% endif %}" href="{{ site.baseurl | prepend: site.url }}/index.html">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="https://hep-fcc.github.io/fcc-tutorials/">Tutorials</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link{% if page.id == 'presentations' %} active{% endif %}" href="{{ site.baseurl | prepend: site.url }}/presentations/presentations.html">Talks and Papers</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link{% if page.id == 'computing' %} active{%endif%}" href="{{ site.baseurl | prepend: site.url }}/computing/computing.html">Computing</a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle{% if page.id == 'geo' or page.id == 'geo-ee' %} active{%endif%}"
                         href="#"
                         id="geo-dropdown"
                         role="button"
                         data-bs-toggle="dropdown"
                         aria-expanded="false">Detector Display</a>
                      <div class="dropdown-menu" aria-labelledby="geo-dropdown">
                          <a class="dropdown-item{% if page.id == 'geo' %} active{%endif%}"
                             href="{{ site.baseurl | prepend: site.url }}/geo/geo.html">FCC-hh</a>
                          <a class="dropdown-item{% if page.id == 'geo-ee' %} active{%endif%}"
                             href="{{ site.baseurl | prepend: site.url }}/geo/geo-ee.html">FCC-ee IDEA</a>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
    </nav>
</header>
